.sidebar-feed__friend{
  // Список друзей
  &-item{
    --background: #{alpha($white, .1)};

    display: grid;
    background: transparent;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 15px;
    padding: 0;
    text-transform: none;
    text-align: left;

    &:hover{
      cursor: pointer;
    }

    // Блок с аватаром пользователя
    &__avatar{
      background: var(--background);
      width: 54px;
      height: 54px;
      @include bordered(var(--background));

      // Голова скина
      &-image{
        display: block;
        object-position: center;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    // Блок с информацией о пользователе
    &__user{
      line-height: 22px;
      font-size: 18px;
      color: $dark-gray;

      // Ник пользователя
      &-nickname{
        --text-shadow: #{$dark-gray-shadow};
        text-shadow: 3px 3px var(--text-shadow);
      }

      &__avatar{
        opacity: 1;
        transition: .15s ease-in-out;
      }

      // Статус пользователя
      &-status{
        --text-shadow: #{$dark-gray-shadow};
        font-size: 14px;
        text-shadow: 2px 2px var(--text-shadow);
      }
    }

    // Состояние "В сети"
    &_online{
      --background: #{alpha($aqua, .1)};

      .sidebar-feed__friend-item__user-nickname{
        color: $gray;
        --text-shadow: #{$gray-shadow};
      }
      .sidebar-feed__friend-item__user-status{
        color: $aqua;
        --text-shadow: #{$aqua-shadow};
      }
    }
    // Состояние "Поблизости"
    &_near{
      --background: #{alpha($gold, .2)};

      .sidebar-feed__friend-item__user-nickname{
        color: $gray;
        --text-shadow: #{$gray-shadow};
      }
      .sidebar-feed__friend-item__user-status{
        color: $gold;
        --text-shadow: #{$gold-shadow};
      }
    }
  }
}