// Для сокращения кол-ва кода переменная быстрого назначения прозрачности
$none: transparent;

// Директории картинок и шрифтов
$dir: '../';
$url: $dir + '/images/'; // Уникальный путь картинок
$urlFonts: $dir + '/font/'; // Уникальный путь шрифтов

// Замыливание заднего фона
$background-blur: true;

// Вид модального окна @ simple @ decorate @ clean
$modal: 'simple';

// Карта цветов
$colors-map: (
  black,
  dark-blue,
  dark-green,
  dark-aqua,
  dark-red,
  dark-purple,
  gold,
  gray,
  dark-gray,
  blue,
  green,
  aqua,
  red,
  light-purple,
  yellow,
  white
);

// Палитра цветов SCSS
// ========================== $0 === Черный
$black: #000;
$black-shadow: #000;
// ========================== $1 === Тёмно-синий
$dark-blue: #0000AA;
$dark-blue-shadow: #00002A;
// ========================== $2 === Тёмно-зелёный
$dark-green: #00AA00;
$dark-green-shadow: #002A00;
// ========================== $3 === Бирюзовый
$dark-aqua: #00AAAA;
$dark-aqua-back: #e6ffff;
$dark-aqua-shadow: #002A2A;
// ========================== $4 === Тёмно-красный
$dark-red: #AA0000;
$dark-red-shadow: #2A0000;
// ========================== $5 === Тёмно-фиолетовый
$dark-purple: #AA00AA;
$dark-purple-shadow: #2A002A;
// ========================== $6 === Золотой
$gold: #ffaa00;
$gold-back: #fff6e6;
$gold-shadow: #2a2a00;
// ========================== $7 === Серый
$gray: #AAAAAA;
$gray-shadow: #2A2A2A;
// ========================== $8 === Тёмно-серый
$dark-gray: #555555;
$dark-gray-shadow: #151515;
// ========================== $9 === синий
$blue: #5555FF;
$blue-back: #e6e6ff;
$blue-shadow: #15153f;
// ========================== $a === Зеленый
$green: #55FF55;
$green-back: #e6ffe6;
$green-shadow: #153F15;
// ========================== $b === Сине-зеленый
$aqua: #55FFFF;
$aqua-back: #e6ffff;
$aqua-shadow: #153F3F;
// ========================== $1 === Красный
$red: #FF5555;
$red-back: #ffe6e6;
$red-shadow: #3F1515;
// ========================== $c === Фиолетовый
$light-purple: #FF55FF;
$light-purple-back: #ffefff;
$light-purple-shadow: #3F153F;
// ========================== $e === Желтый
$yellow: #FFFF55;
$yellow-shadow: #3F3F15;
// ========================== $f === Белый
$white: #FFFFFF;
$white-shadow: #3F3F3F;

:root{
  // Палитра интерфейса
  --gray-100: #e0e0e0; // Светлый текст (почти белый) на кнопках итл
  --gray-200: #c6c6c6; // Цвет фона интерфейса
  --gray-400: #8b8b8b; // Цвет ячеек
  --gray-600: #555; // Тени у рамки
  --gray-700: #373737; // Тени у ячеек, текст
  --gray-900: #030303; // Рамки

  // Цвета текста и теней
  --black: #{$black};
  --black-shadow: #{$black-shadow};

  --dark-blue: #{$dark-blue}; // Темно-синий $1
  --dark-blue-shadow: #{$dark-blue-shadow};

  --dark-green: #{$dark-green}; //Темно-зеленый $2
  --dark-green-shadow: #{$dark-green-shadow};

  --dark-aqua: #{$dark-aqua}; // Бирюзовый $3
  --dark-aqua-back: #{$dark-aqua-back};
  --dark-aqua-shadow: #{$dark-aqua-shadow};

  --dark-red: #{$dark-red}; // Темно-красный $4
  --dark-red-shadow: #{$dark-red-shadow};

  --dark-purple: #{$dark-purple}; // Темно-фиолетовый $5
  --dark-purple-shadow: #{$dark-purple-shadow};

  --gold: #{$gold}; // Золотой $6
  --gold-back: #{$gold-back};
  --gold-shadow: #{$gold-shadow};

  --gray: #{$gray}; // Серый $7
  --gray-shadow: #{$gray-shadow};

  --dark-gray: #{$dark-gray}; // Темно-серый $8
  --dark-gray-shadow: #{$dark-gray-shadow};

  --blue: #{$blue}; // Синий $9
  --blue-back: #{$blue-back};
  --blue-shadow: #{$blue-shadow};

  --green: #{$green}; // Зеленый $a
  --green-back: #{$green-back};
  --green-shadow: #{$green-shadow};

  --aqua: #{$aqua}; // Сине-еленый $b
  --aqua-back: #{$aqua-back};
  --aqua-shadow: #{$aqua-shadow};

  --red: #{$red}; // Красный $c
  --red-back: #{$red-back};
  --red-shadow: #{$red-shadow};

  --light-purple: #{$light-purple}; // Фиолетовый $d
  --light-purple-back: #{$light-purple-back};
  --light-purple-shadow: #{$light-purple-shadow};

  --yellow: #{$yellow}; // Желтый $e
  --yellow-shadow: #{$yellow-shadow};

  --white: #{$white}; // Белый $f
  --white-shadow: #{$white-shadow};
}
