.auction-trade{
  width: 720px;

  //
  &__section{
    --background: #{alpha($white, .05)};

    background: var(--background);
    @include bordered(var(--background));
    vertical-align: top;

    //
    &_style{
      &-gold{
        --background: #{alpha($gold, .2)};
      }
      &-green{
        --background: #{alpha($green, .2)};
      }
    }
  }

  //
  &__table{
    padding: 5px 35px;
    margin: 0 0 25px;
    list-style: none;

    //
    &-row{
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;

      line-height: 46px;
      font-size: 16px;
      padding: 5px 0;
      text-align: left;

      //
      &:not(:first-child){
        margin-top: 3px;
        box-shadow: 0 -3px alpha($white, .1);
      }
    }

    //
    &__img{
      display: inline-block;
      width: 40px;
      margin: 0 5px 0 0;
      vertical-align: top
    }
  }

  //
  &__user{
    line-height: 46px;
    padding: 0 15px;
    margin: 0 -15px!important;
    white-space: nowrap;
    text-align: left;
  }

  //
  &__note{
    line-height: 24px;
    width: 80%;
    margin: 0 auto 30px;
  }

  //
  &__form-input{
    display: inline-grid;
    grid-template-columns: auto 200px;
    align-items: center;
    grid-gap: 10px;
  }

  //
  &__separator{
    display: block;
    font-family: MinecraftTitle,sans-serif;
    font-size: 48px;
    color: alpha($white, .1);
    margin: 30px 0 25px;
  }

  //
  &__history{
    margin: 25px 0 0;
    list-style: none;

    //
    &-item{
      display: grid;
      grid-template-columns: 50% 1fr auto;
      align-items: center;
      grid-gap: 25px;

      line-height: 24px;
      padding: 0 15px;
      margin: 15px 0 0;
      text-align: right;
    }
  }

  //
  &__options{
    padding: 25px;
    margin: 25px 0;

    &-price{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      padding: 15px 15px 15px 25px;
      margin: 25px 0 30px;
    }

    // Заголовок раздела с опциями
    &-heading{
      text-align: left;
    }

    //
    &-time{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      grid-gap: 15px;

      margin: 25px 0 0;
      list-style: none;

      .btn{
        padding: 10px 0;
        margin: 0;
        font-size: 18px;

        &:not(.btn_success){
          --background: #{alpha($white, .05)};

          @include bordered(var(--background));
        }
      }

      &__input{
        grid-column-start: 1;
        grid-column-end: 5;

        .form-control{
          width: 100%;
          padding: 10px 15px;
        }
      }
    }
  }
}