.modal{
  // Цвет затемнения
  --blackout: #{alpha(darken($dark-blue-shadow, 5), .8)};
  --border: #{alpha($blue, .4)};
  --background: #{alpha($black, .9)};

  // Основные стили
  display: grid;
  position: fixed;;
  background: var(--blackout);
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  color: #fff;
  opacity: 0;
  align-items: center;
  pointer-events: none;
  transition: .15s ease-in-out;
  overflow: hidden auto;
  z-index: 99;

  // Модификации
  &_style{
    &-aqua{
      --blackout: #{alpha(darken($aqua-shadow, 5), .8)};
      --border: #{alpha($aqua, .4)};
    }
    &-blue{
      --blackout: #{alpha($blue-shadow, .8)};
      --border: #{alpha($blue, .4)};
    }
    &-green{
      --blackout: #{alpha(darken($green-shadow, 5), .8)};
      --border: #{alpha($green, .4)};
    }
    &-dark-purple{
      --blackout: #{alpha(darken($dark-purple, 28), .8)};
      --border: #{alpha($dark-purple, .4)};
    }
    &-light-purple{
      --blackout: #{alpha(darken($light-purple, 55), .8)};
      --border: #{alpha($light-purple, .6)};
    }
    &-gold{
      --blackout: #{alpha(darken($gold, 35), .8)};
      --border: #{alpha($gold, .6)};
    }
    &-red{
      --blackout: #{alpha(darken($dark-red, 28), .8)};
      --border: #{alpha($red, .4)};
    }
    &-yellow{
      --blackout: #{alpha($yellow-shadow, .8)};
      --border: #{alpha($yellow, .6)};
    }
  }

  // Кнопка закрытия
  .closing-key {
    position: fixed;
    border: none;
    background: url('#{$url}/icon/close.png') no-repeat center;
    background-size: 64px;
    height: 64px;
    width: 64px;
    top: 50px;
    right: 100px;
    cursor: pointer;
    outline: none;
    image-rendering: pixelated;

    &:hover {
      opacity: .5;
    }
  }

  // Группа контента
  &-area{
    --image: transparent;

    // Основные стили
    position: relative;
    text-align: center;
    transition: .15s ease-in-out;

    // Оконный вид группы
    // Объявлен переменной $modal в variables.scss
    &_windowed{
      background: var(--background);
      @if $modal == 'clean' {
        // Чистая версия, но проблемы с контрастами на чисто белом фоне
        --background: #{$white};
        @include bordered(var(--background), 15);
      }
      @if $modal == 'simple' {
        // Самый оптимальный вариант
        box-shadow:
                10px 0 var(--border),
                -10px 0 var(--border),
                0 10px var(--border),
                0 -10px var(--border),
                0 0 0 10px var(--background),
                20px 0 var(--background),
                -20px 0 var(--background),
                0 20px var(--background),
                0 -20px var(--background);
      }
      @if $modal == 'decorate'{
        // Прямо лютый OVERTHINKING
        box-shadow:
                0 40px 0 -20px var(--background),
                0 -40px 0 -20px var(--background),
                40px 0 0 -20px var(--background),
                -40px 0 0 -20px var(--background),

                0 0 0 10px var(--border),
                -40px 0 0 -10px var(--border),
                40px 0 0 -10px var(--border),
                0 -40px 0 -10px var(--border),
                0 40px 0 -10px var(--border);
      }
    }

    &__section{
      padding: 35px;

      // Модификаторы секций для разных контейнеров
      &_role{
        &-case{
          border-top: 4px solid $dark-gray-shadow;
          padding: 35px 50px 50px;
        }
        &-inventory{
          background: var(--border);
          padding: 25px 25px 15px;
        }
      }
    }

    // Заголовок второго уровня внутри группы
    &__heading{
      font-family: MinecraftTitle, sans-serif;
      line-height: 1;
      font-size: 42px;
      color: $white;
      text-shadow: 4px 4px $white-shadow;
    }

    // Примечание, скидка
    &__notice{
      --background: #{alpha($light-purple, .8)};

      display: block;
      background: var(--background);
      line-height: 32px;
      font-size: 20px;
      color: $white;
      width: 50%;
      margin: 5px auto 0;
      white-space: nowrap;
      box-shadow:
              10px 0 0 -5px var(--background),
              -10px 0 0 -5px var(--background);
      text-shadow: 3px 3px $white-shadow;
      text-align: center;

      // Отступ от заголовка у первого элемента этого типа
      &:first-of-type{
        margin-top: 10px;
      }

      // Модификатор для отображения скидки
      &_sale{
        --background: var(--red);
      }
      // Модификатор для отображения отсутствия кейсов
      &_empty{
        --background: var(--gray-shadow);

        color: $gray;
        text-shadow: 3px 3px $gray-shadow;
      }
    }

    // Превью продукта
    &__icon{
      display: block;
      width: 240px;
      margin: auto;
      image-rendering: pixelated;

      &_offset{
        margin: 10px auto 20px;
      }
    }

    .btn{
      margin: 0 10px;
    }

    //
    &__paragraph{
      line-height: 24px;
      font-size: 18px;
      color: $gray;
      width: 640px;
      margin: 15px auto 25px;
      text-shadow: 2px 2px $gray-shadow;
    }
  }
}