.alert{
  // Стилизация
  --background: #{$white-shadow};

  // Позиционирование
  display: block;
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
  opacity: .9;
  transition: .2s ease-in;
  padding: 10px 160px 10px 55px;
  animation: alertShow .2s ease-out;
  pointer-events: none;
  z-index: 9998;

  @keyframes alertShow{
    0%{
      opacity: 0;
      top: -300px;
    }
    100%{
      opacity: .9;
      top: 33px;
    }
  }

  // tooltip-trigger предназначен JS-обработчику
  // для отображения тултипа и компонента, имеющего этот класс
  &-trigger{
    // У всех внутренних элементов отключить события мыши
    *{
      pointer-events: none!important;
    }
  }

  // Модификаторы для стилизации
  &_primary{
    --background: #{$blue}
  }
  &_success{
    --background: #{$green};
  }
  &_danger{
    --background: #{$dark-red}
  }
  &_warning{
    --background: #{$gold}
  }
  &_info{
    --background: #{$aqua}
  }
  &_sale{
    --background: #{$yellow};
  }
  &_secondary{
    --background: #{$light-purple}
  }

  // Контейнер
  &-content{
    display: grid;
    align-items: center;

    position: relative;
    background: var(--background);
    padding: 10px;
    text-align: center;
    @include bordered(
                    var(--background),
                    10,
                    0 0 35px 15px var(--background)
    );

    &::before{
      --background: #{alpha($black, .2)};

      content: '';
      display: block;
      position: absolute;
      background: var(--background);
      width: 100%;
      height: 5px;
      left: 0;
      bottom: -10px;
      animation: 7.1s alertTimer ease-in-out both;
    }

    @keyframes alertTimer{
      0%{
        width: 100%;
        opacity: 0;
      }
      50%{
        opacity: 1;
      }
      100%{
        width: 0;
      }
    }

    // Светлая верхняя половина оповещения
    &::after{
      //content: '';
      display: block;
      position: absolute;
      background: alpha($white, .1);
      width: calc(100% + 20px);
      height: 50%;
      top: 0;
      left: -10px;
      box-shadow:
              0 -10px alpha($white, .1);
    }
  }
}