.btn{
  // Переменные
  @include btn-var-init(transparent, transparent);
  --color: #{$white};
  --text-shadow: #{$white-shadow};
  --blur: 0;

  // Основное
  padding: 15px 35px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: .1s ease-in-out;

  // Цвет блок
  background: var(--background);
  box-shadow:
          0 -5px var(--border-top),
          0 5px var(--border-bottom),
          5px 0 var(--border-middle),
          -5px 0 var(--border-middle),
          0 0 var(--blur) var(--background);

  // Настройки текста
  font-size: 20px;
  color: var(--color);
  text-shadow: 3px 3px var(--text-shadow);
  text-align: center;

  &, &-hover{
    --value: 5px;
    --value-reverse: -5px;
    --outline-color: #{$white};

    position: relative;
    display: inline-block;

    // Псевдоэлемент-обводка для hover-эффекта
    &::before{
      content:'';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: -10px;
      left: 0;
      opacity: 0;
      pointer-events: none;
      transition: top .15s ease-in-out;
      box-shadow:
              var(--value) 0 var(--outline-color),
              var(--value-reverse) 0 var(--outline-color),
              0 var(--value) var(--outline-color),
              0 var(--value-reverse) var(--outline-color);
      z-index: 1;
    }
  }

  // Инициализация hover-эффекта
  &:not(&_disabled):hover,
  &-hover:hover{
    &::before{
      opacity: 1;
      top: 0;
    }
  }

  // Модификаторы состояния
  &_primary{
    @include btn-var-init(
                    desaturate(darken($blue, 15), 45),
                    $blue-shadow
    );
  }
  &_success{
    @include btn-var-init(
                    desaturate(lighten($dark-green, 10), 45),
                    $green-shadow
    );
  }
  &_danger{
    @include btn-var-init(
                    desaturate(lighten($dark-red, 10), 45),
                    $red-shadow
    );
  }
  &_warning{
    @include btn-var-init(
                    desaturate(darken($gold, 5), 5),
                    $gold-shadow
    );
  }
  &_violet{
    @include btn-var-init($dark-purple, $light-purple-shadow);
  }
  &_info{
    @include btn-var-init($dark-aqua, $aqua-shadow);
  }
  &_light{
    @include btn-var-init(
                    desaturate(lighten($blue, 35), 75)
    );
    --color: #{$black};
    --text-shadow: var(--border-top);
  }
  &_steel{
    @include btn-var-init(
                    desaturate(lighten($blue, 20), 45)
    );
    --color: #{$blue-shadow};
    --text-shadow: #{$blue-back};
  }
  &_secondary{
    @include btn-var-init($dark-gray);
  }
  &_night{
    @include btn-var-init($gray-shadow);
  }
  &_dark{
    @include btn-var-init($dark-gray-shadow);
  }

  // Модификатор отключенного состояния кнопки
  &_disabled{
    @include btn-var-init($gray-shadow);
    cursor: default!important;
    pointer-events: none;
  }

  // Модификатор размера
  &_size{
    &-sm{
      padding: 10px 20px;
      font-size: 16px;
      text-shadow: 2px 2px var(--text-shadow);
    }
    &-md{
      padding: 10px 25px;
      font-size: 18px;
      text-shadow: 2px 2px var(--text-shadow);
    }
    &-lg{
      padding: 20px 35px;
      font-size: 22px;
      text-shadow: 3px 3px var(--text-shadow);
    }
    &-xl{
      padding: 20px 45px;
      font-size: 24px;
      text-shadow: 4px 4px var(--text-shadow);
    }
  }

  // Модификаторы hover-эффектов
  &_hover{
    // Наведение отключено
    &-disabled{
      &::before{
        display: none;
      }
    }
    // При наведении эффект задней пышной тени
    &-shadow{
      pointer-events: none;
    }
  }

  // Модификатор для кнопки покупки
  &_purchase{
    font-size: 0;
    padding: 0 10px;
    white-space: nowrap;

    &_column{
      padding: 0;

      .btn_purchase-section{
        display: block;
        padding: 15px 25px;

        &:not(:first-of-type) {
          background: var(--border-top);
          border-left: 0;
        }
      }
    }

    &-section{
      position: relative;
      display: inline-block;
      line-height: 1;
      font-size: 20px;
      padding: 15px;

      &:not(:first-of-type){
        border-left: 3px solid var(--border-middle);
      }
    }

    &__sale{
      display: block;
      position: absolute;
      width: calc(100% - 40px);
      bottom: 100%;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      z-index: 1;

      &-text{
        display: inline-block;
        background: $red;
        line-height: 1;
        font-size: 16px;
        color: $white;
        padding: 5px 10px;
        white-space: nowrap;
        text-shadow: 2px 2px $white-shadow;
        box-shadow: 5px 5px alpha($red-shadow, .6);
      }
    }
  }

  // Внутренние компоненты
  // Вертикальный разделитель внутри кнопки
  &-separator{
    display: inline-block;
    background: var(--border-top);
    width: 3px;
    margin: -5px 5px;
    vertical-align: top;
  }

  // Зачёркнутый текст
  &-strike{
    position: relative;
    display: inline-block;
    padding: 0 5px;
    margin: 0 5px 0 0;
    color: $gray;
    text-shadow: 3px 3px $gray-shadow;
    vertical-align: top;

    .currency{
      opacity: .7;
    }

    // Зачеркивающая полоса
    &::before{
      content: '';
      display: block;
      position: absolute;
      background: $red;
      height: 3px;
      width: 100%;
      top: 10px;
      left: 0;
      box-shadow: 3px 3px $red-shadow;
      z-index: 1;
    }
  }

  // Выделение текста
  &-mark{
    display: inline-block;
    background: var(--border-middle);
    padding: 10px;
    box-shadow:
            inset -5px -5px var(--border-top),
            inset 5px 5px var(--border-bottom);
  }

  // Иконка пропуска
  &-skip{
    display: inline-block;
    background: url('#{$url}gui/arrow-skip.gif') no-repeat center;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 0 0 0 4px;
    image-rendering: pixelated;
    vertical-align: top;
  }
}