.nav{
  display: grid;
  grid-template-columns: auto 1fr auto;
  background: alpha($black, .3);
  height: 36px;
  margin: 20px 0 0;
  @include bordered(alpha($black, .3), 5);

  // Список с элементами навигации
  &-list{
    position: relative;
    font-size: 0;
    height: 36px;
    list-style: none;
    white-space: nowrap;
    text-align: center;
    z-index: 1;

    &::-webkit-scrollbar {
      background: transparent;
      height: 0;
      width: 0;
    }

    // Элемент списка
    &-item{
      display: inline-block;
    }
  }

  // Элемент навигации, стилизация кнопок
  &-item{
    --color: #{$gray};
    --text-shadow: #{$gray-shadow};

    display: block;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    padding: 0 12px;
    margin: 0 7.5px;

    // Текущая вкладка
    &_checked{
      --background: #{$white};
      --color: #{$dark-gray};

      background: var(--background);
      text-shadow: 0 0 transparent;
      @include bordered(var(--background));
      pointer-events: none;
    }

    // Иконка с уведомлением у вкладки
    &__icon-notify{
      --color: #{$white};

      display: inline-block;
      background: var(--color);
      width: 8px;
      height: 8px;
      margin: 0 0 0 4px;
      animation: 1s nav-item__spread-blink infinite;
      vertical-align: middle;

      // Стилизация с разными цветами
      &_style{
        &-green{
          --color: #{$green};
        }
        &-aqua{
          --color: #{$aqua};
        }
        &-gold{
          --color: #{$gold};
        }
        &-yellow{
          --color: #{$yellow};
        }
        &-light-purple{
          --color: #{$light-purple};
        }
      }
    }

    @keyframes nav-item__spread-blink{
      0%{
        box-shadow: 0 0 0 0 var(--color);
      }
      100%{
        box-shadow: 0 0 0 20px transparent;
      }
    }

    // Модификатор для роли кнопок
    &_role{
      // Кнопки управления "Вперёд" и "Назад"
      &-control{
        --background: #{alpha($black, .5)};
        --color: #{$white};
        --text-shadow: #{$white-shadow};

        font-size: 21px;
        margin: 0;
        @include bordered(var(--background));
      }
    }
  }

  // Иконка левой/правой стрелки
  &-icon{
    display: inline-block;
    background: var(--image) no-repeat center 5px;
    background-size: 12px;
    width: 12px;
    height: 36px;
    image-rendering: pixelated;
    vertical-align: top;

    // Модификатор стрелки
    &_arrow{
      // Левая
      &-left{
        --image: #{url("#{$url}gui/arrow-left.png")};
        margin-right: 5px;
      }
      // Правая
      &-right{
        --image: #{url("#{$url}gui/arrow-right.png")};
        margin-left: 5px;
      }
    }
  }
}