.promo{
  --background: #{$aqua};
  --opacity: .5;

  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: end;
  grid-gap: 20px;

  position: fixed;
  padding: 5px;
  width: 600px;
  left: 50px;
  transition: .15s ease-in-out;
  bottom: 50px;
  z-index: 10;

  &:hover{
    --opacity: .8;
    bottom: 75px;
  }

  &_style{
    &-gold{
      --background: #{$gold};
    }
  }

  // Размытие на заднем фоне
  &::before{
    content:'';
    position: absolute;

    background: var(--background);
    height: 70%;
    width: 90%;
    top: 15%;
    left: 5%;
    opacity: var(--opacity);
    transition: .15s ease-in-out;
    box-shadow:
            0 0 50px 55px var(--background);
  }

  // Превью
  &-preview{
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    @include bordered($white, 5);
    image-rendering: pixelated;
  }

  // Сообщение
  &-message{
    display: inline-block;
    position: relative;
    background: alpha($black, .8);
    line-height: 24px;
    font-size: 18px;
    padding: 10px 15px;
    @include bordered(alpha($black, .8));

    &:not(:first-child){
      margin-top: 15px;
    }
  }
}