.sidebar-feed{
  position: fixed;
  height: 100vh;
  width: 400px;
  right: 0;
  top: 0;
  background: alpha($black, .15);
  padding: 0;
  transition: .15s ease-in-out;
  transform: translateX(calc(100% - 100px));
  overflow: hidden scroll;
  z-index: 10;

  // Анимации при наведении
  &:hover{
    background:
            alpha(#010204, .95)
            radial-gradient(alpha($blue, .2), transparent)
            left center;
    padding: 20px 0;
    background-size: 200% 100%;
    transform: translateX(0);
  }

  // Анимация при отсутствии наведения
  &:not(:hover) .sidebar-feed{
    // Обнуление отступов в разделах
    &__section{
      padding: 9px 0;

      // Полностью убрать визуально заголовок
      &-heading{
        line-height: 0;
        opacity: 0;
      }

      // Обнуление внешнего отступа от заголовка
      &-list{
        padding: 0;

        &_hover-hide{
          max-height: 0;
          opacity: 0;
        }
      }

      // Изменить отступы
      &-item {
        padding: 8px 23px;
      }
    }

    &__notice{
      &-status{
        opacity: 1;
        padding: 8px 23px;
        height: 70px;
      }
    }

    // Скрыть блок с пользователем
    &__friend-item{
      &__user{
        opacity: 0;
        transition: .15s ease-in-out;
      }
      &__avatar{
        opacity: .5;
      }
    }
  }
}

@import 'sidebar-feed/__section', // Разделы в боковой панели
        'sidebar-feed/__notice', // Список уведомлений
        'sidebar-feed/__friend' // Список друзей
;