// Реализация со всеми тенями стиля стандартного GUI
.window{
	--light: var(--white);
	--background: var(--gray-200);
	--shadow: var(--gray-600);
	--border: var(--gray-900);

	// Основные стили
	background: var(--background);
	padding: 25px 15px;
	box-shadow:
			// === ПРАВАЯ ГРАНИЦА ===
			// Тень у границы
			20px 0 0 -12px var(--shadow),
			14px 2px 0 -10px var(--shadow),
			12px 0 0 -8px var(--background),
				// Черный контур
			8px 0 0 -4px var(--border),
			16px 0 0 -8px var(--border),
			24px 0 0 -12px var(--border),

				// === ЛЕВАЯ ГРАНИЦА ===
				// Тень у границы
			-20px 0 0 -12px var(--light),
			-14px 2px 0 -10px var(--light),
			-12px 0 0 -8px var(--light),
				// Черный контур
			-8px 0 0 -4px var(--border),
			-16px 0 0 -8px var(--border),
			-24px 0 0 -12px var(--border),

				// === ВЕРХНЯЯ И НИЖНЯЯ ===
				// Верхняя граница
			inset 0 4px var(--border), // Черный контур
			inset 0 12px var(--light), // Тень
				// Нижняя граница
			inset 0 -4px var(--border), // Черный контур
			inset 0 -12px var(--shadow) // Тень
	;

	// Модификатор недоступного состояния
	&_disabled{
		--light: var(--gray-400);
		--background: var(--gray-600);
		--shadow: var(--gray-700);
		--border: var(--gray-900);
	}
}