.ratings{
  padding: 20px 0 50px;

  // Переключатель вкладок (рейтингов)
  &-nav{
    // Количество колонок в разделе
    --columns: 4;
    // Внутренняя сетка у вкладки
    --grid-item: auto auto;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    justify-content: center;
    grid-gap: 15px;

    margin: 25px 0 0;
    list-style: none;

    // Модификатор с измененной сеткой навигации
    // Где вкладок может быть больше (максимум 6)
    &_grid{
      &-6{
        --columns: 6;
        --grid-item: auto 100px;
      }
    }

    // Вкладка
    &__item{
      --background: #{alpha($gold, .2)};

      display: grid;
      grid-template-columns: var(--grid-item);
      justify-content: center;
      align-items: center;
      grid-gap: 15px;

      background: var(--background);
      font-family: MinecraftTitle,sans-serif;
      line-height: 20px;
      font-size: 16px;
      color: $gold;
      width: 100%;
      padding: 5px 10px;
      @include bordered(var(--background));
      text-shadow: 2px 2px $gold-shadow;
      text-align: left;

      // Состояние активной вкладки
      &_checked{
        background: $white;
        color: $dark-gray;
        @include bordered($white);
        text-shadow: 0 0;
        cursor: default;

        &::before{
          display: none;
        }
      }

      // Иконка у вкладки
      &-img{
        display: block;
        width: 48px;
        height: 48px;
        pointer-events: none!important;
        image-rendering: pixelated;
      }
    }
  }

  // Поиск
  &-search{
    display: grid;
    grid-template-columns: 420px 1fr auto;
    justify-content: center;
    grid-gap: 15px;

    width: 1080px;
    margin: 25px auto 0;

    .form-control{
      background: alpha($black, .3);
      @include bordered($dark-gray);
    }
  }

  // Контейнер со вкладками
  &__tab{

    // Список контейнеров с содержимым вкладок
    &-list{
      width: 1080px;
      margin: auto;
      list-style: none;
    }

    // Элемент списка с содержимым вкладки
    &-item{
      display: none;

      // Активное состояние
      &_checked{
        display: block;
        animation: inherit;
      }
    }

    // Заголовок вкладки
    &-heading{
      font-size: 18px;
      color: $white;
      text-shadow: 2px 2px $white-shadow;
    }
  }

  // Рейтинговая таблица
  &__table{
    --columns: 120px 5fr 3fr 3fr;

    margin: 0 0 20px;
    list-style: none;

    // Модификатор для изменения колонок
    &_columns{
      &-1{
        --columns: 120px 5fr 3fr;
      }
    }

    // Строка
    &-row{
      --background: #{alpha($black, .3)};
      --shadow: var(--background);
      --line-height: 36px;
      --color: #{$gray};

      display: grid;
      grid-template-columns: var(--columns);
      align-items: center;

      background: var(--background);

      line-height: var(--line-height);
      font-size: 18px;
      color: var(--color);

      padding: 0 25px;
      margin: 15px 0 0;
      @include bordered(var(--shadow));
      text-shadow: 3px 3px $gray-shadow;
      text-align: left;

      &_type{
        // Заголовок
        &-header{
          --background:transparent;

          margin: 0;
        }

        // Топ-позиции
        &-top{
          --line-height: 50px;
          --color: var(--shadow);

          font-size: 20px;
          color: $white;
          text-shadow: 3px 3px $white-shadow;

          .ratings__table-data__rank{
            font-size: 32px;
          }

          &-1{
            --background: #{alpha($gold-shadow, .5)};
            --shadow: #{$gold};
          }
          &-2{
            --background: #{alpha($light-purple-shadow, .5)};
            --shadow: #{$light-purple};
          }
          &-3{
            --background: #{alpha($blue-shadow, .5)};
            --shadow: #{$blue};
          }
        }
      }
    }

    // Ячейка
    &-data{
      &__img{
        height: var(--line-height);
        margin: 0 10px 0 0;
        vertical-align: top;
      }
      &__rank{
        font-family: MinecraftTitle,sans-serif;
        font-size: 20px;
        color: var(--color);
        text-shadow: 0 0;
      }
    }
  }
}