.shop{

  // Фильтры магазина блоков
  &__filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style: none;
    margin: 0 0 35px;

    // Элемент списка
    &-item{
      position: relative;
      z-index: 3;
    }

    // Кнопка
    .btn{
      display: grid;
      grid-template-columns: auto 1fr;

      font-size: 16px;
      width: 100%;
      padding: 15px 25px;
      text-align: left;
      z-index: 2;

      // При наведении на кнопку или на выпадающий список
      // Отображать выпадающий список
      &:hover ~ .shop__filters-dropdown,
      &~ .shop__filters-dropdown:hover{
        pointer-events: all;
        opacity: 1;

        .btn{
          opacity: 1;
          line-height: .5;
          pointer-events: all;
        }
      }

      // Цветовое выделение значения фильтра
      &-mark{
        margin: -10px 0 -10px 8px;
        color: $green;
        text-shadow: 2px 2px $green-shadow;
      }
    }

    // Выпадающий список
    &-dropdown{
      --background: #{alpha($black, .8)};

      position: absolute;
      background: var(--background);
      padding: 20px 0 10px;
      width: 100%;
      top: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      @include bordered($gray-shadow);
      z-index: 1;

      .btn{
        display: block;
        opacity: 0;
        line-height: 0;
        white-space: nowrap;
        transition: .15s ease-in-out;

        &:hover{
          transition: 0s;
          color: $green;
          text-shadow: 2px 2px $green-shadow;
        }
      }
    }

    // Поиск
    &-search{
      --background: #{alpha($black, .5)};
      --border-top: var(--background);
      --border-middle: var(--background);
      --border-bottom: var(--background);
      --text-shadow: transparent;
      width: 360px;
      border: none;
      outline: none;
      cursor: text;

      &::placeholder{
        color: $gray;
      }
      &:active,
      &:focus{
        --border-top: #{$white};
        --border-middle: #{$white};
        --border-bottom: #{$white};
      }
    }
  }

  // Список товаров
  &__list{
    display: grid;
    grid-template-columns: repeat(6, 179.16px);
    grid-gap: 25px;
    list-style: none;

    // Элемент списка
    &-item{

    }
  }

  // Карточка товара
  &-card{
    --background: #{alpha($black, .5)};

    display: block;
    padding: 20px 0 25px;
    height: 100%;
    font-size: 12px;
    @include bordered(var(--background), 7);

    // Состояние наведения
    &:hover{

      // Создание эффекта подсветки кнопки
      // Меняем значение переменное, изменяющее тень у кнопки
      .btn{
        --blur: 65px;
      }

      // Прокрутка влево-вправо не влезающего длинного названия товара
      .shop-card__title_scroll{
        animation: title-scroll-loop 25s linear infinite;
        text-overflow: clip;
      }
      // Анимация прокрутки для длинного названия
      @keyframes title-scroll-loop{
        0%, 20%, 40%, 60%, 80%, 100%{
          text-indent: 0;
        }
        10%, 30%, 50%, 70%, 90%{
          text-indent: -150px;
        }
      }
    }

    // Контейнер для указания скидки
    &__sale{
      display: block;
      position: absolute;
      background: $red;
      line-height: 20px;
      font-size: 14px;
      color: $white;
      right: 30px;
      left: 30px;
      top: -15px;
      width: calc(100% - 60px);
      white-space: nowrap;
      text-shadow: 2px 2px $white-shadow;
      box-shadow: 5px 5px alpha($dark-red, .5);
      text-align: center;
      z-index: 1;
    }

    // Название карточки
    &__title{
      font-size: 14px;
      padding: 0 15px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      // Модификаторы цвета
      &_aqua{
        color: $aqua;
        text-shadow: 2px 2px $aqua-shadow;
      }
      &_violet{
        color: $light-purple;
        text-shadow: 2px 2px $light-purple-shadow;
      }
      &_gold{
        color: $gold;
        text-shadow: 2px 2px $gold-shadow;
      }
    }

    // Иконка (превьюшка) товара
    &__icon{
      margin: 15px 0;
    }

    // Контейнер для цены на товар
    &__price{
      line-height: 20px;
      font-size: 13px;
      color: $white;
      text-shadow: 2px 2px $white-shadow;

      // Зачеркнутая цена
      &-strike{
        display: inline-block;
        position: relative;
        padding: 0 4px;
        margin: 0 0 5px;
        color: $gray;
        text-shadow: 2px 2px $dark-gray-shadow;
        clear: both;

        // Убавляем прозрачность у иконки валюты
        .currency{
          opacity: .5;
        }

        // Линия, зачеркивающая ценник
        &::before{
          content: '';
          display: block;
          position: absolute;
          background: #f55;
          height: 3px;
          width: 100%;
          top: 8px;
          left: 0;
          opacity: .7;
          box-shadow: 3px 3px #3f1515;
        }
      }
    }

    // Изменение размеров кнопки и позиционирование
    .btn{
      font-size: 16px;
      padding: 10px 25px;
      margin: 20px 0 0;
    }
  }
}